.form-container {
  width: 560px;
  height: 91px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  margin-top: 430px;
  background-color: #f7f7f7;
  background-color: #ddd;
  border-top: 1px solid #aaa;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-row input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-row input:focus {
  border-color: #007bff;
}

.submit-button {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #0056b3;
}
