.chat-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.chat-item:hover {
  background-color: #cabccd;
}

.chat-item-info {
  display: flex;
  flex-direction: column;
}

.chat-item-info h1 {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.chat-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-item-info p,
.chat-item-info span {
  color: #999;
  font-size: 1rem;
  margin-bottom: 5px;
}
