.message-form-container {
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #f9f9f9;
  border-top: 1px solid #aaa;
}

.message-form {
  width: 1310px;
  display: flex;
  position: relative;
}

.message-input {
  flex-grow: 1;
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.message-input::placeholder {
  color: #aaa;
}

.message-input:focus {
  border-color: rgba(0, 26, 51);
}

.send-button {
  color: #aaa;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -0.75rem;
  background-color: transparent;
}

.send-button:hover {
  color: #989898;
}
